*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* shared pannel */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo{
    font-size: 45px;
    font-weight:900;
}

.colour-orange{
    color: #FD6E0A;
}

.btn{
    padding: 18px 35px; 
  border: none; 
  background-color: #FD6E0A;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.section-heading{
    text-align: center;
}

.section-heading h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    justify-content: center;
}

.section-heading p{
font-size: 18px;
color: #757575;
line-height: 30px;
margin: 30px 0;
}




/* main pannale */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-position: 23px 38px, bottom right;
    background-repeat: no-repeat;
}

nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    gap: 51px;
    list-style: none;
    align-items: center;
}

nav .menu a{
    text-decoration: none;
    color: #474747;
    align-items: center;
}
nav .menu a:hover{
    background-color: rgb(197, 216, 200);
}

#banner{
    /* border: 2px solid cadetblue; */
    margin: 46px 38px 0 226px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-contant h2{
    font-size: 47px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-contant h1{
    font-size: 85px;
    font-weight: bold;
    color: black;
}

#banner .banner-contant p{
    font-size: 18px;
    color: #757575;
    margin: 20px 0 30px 0;
}

#banner .banner-image img{
    max-width: 584px;
    vertical-align: middle;
}

#about{
    margin-top: 130px;
}

#about .about-container{
    padding: 131px 157px;
    background-color: #FFF8F3;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

#about .about-container .section-info{
    display: flex;
    justify-content: space-around;
}

.section-info .info-card p{
/* font-size: 18px; */
color: #757575;
line-height: 30px;
}

.section-info .info-card h4{
    /* font-size: 20px; */
    color: #474747;
}

#id .skills-container .section-heading{
    display: flex;
    justify-content: center;
}

#skills{
    margin-top: 130px;
}

#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

#skills .skills-box{
    display: flex;
    /* border: 1px solid black; */
    gap: 24px;
} 

#skills .skills-box .skills-card{
    padding: 30px;
    max-width: 267px;
    /* border: 1px solid red; */
    box-shadow: 0 6px 50px 0 #0000001e;

}

#skills .skills-box .skills-card img{
    max-width: 44px;
    margin-bottom: 30px;
}

#skills .skills-box .skills-card h4{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#skills .skills-box .skills-card p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    margin-bottom: 30px;
}

#resume{
    margin-top: 130px;
}

#resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
}

.resume-container h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #474747;

}
.resume-container{
    gap: 20px;
}
.resume-container hr{
    margin: 30px 0;
}

.resume-container .resume-card .card-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
}

.resume-container .resume-card .card-info{
    font-size: 20px;
    font-weight: 400;
    color: #757575;
}

.resume-container .resume-card .card-story{
    font-size: 16px;
    line-height: 28px;
    margin-top: 20px;
    margin-bottom: 30px;
}

#btn-mdl{
text-align: center;
margin-top: 50px;
}

footer{
    margin-top: 113px;
    background-color: #FFF8F3;
    padding: 130px 0;
}

footer .foot-container{
    display: flex;
    width: 71%;
    max-width: 1140px;
    /* width: 452px; */
    margin: 0 auto;
    gap: 117px;
}

.foot-container .foot-card{
    /* max-width: 562px; */  
}

.foot-container .foot-card h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #181818;
}

.foot-container .foot-card p{
    font-size: 16px;
    line-height: 28px;
    color: #474747;
    margin-bottom: 30px;
    /* max-width: 562px; */
}

.foot-container .icon a{
    margin-right: 50px;
}

form h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    padding-bottom: 28px;
}

.foot-container form input[type="text"], input[type="email"], .foot-container textarea{
    width: 461px;
    /* height: 64px; */
    padding: 18px 30px;
    font-size: 16px;
    color: #757575;
    border: none;
    margin-bottom: 24px;
    border-radius: 5px;
}









